<!DOCTYPE html> 
<html>
	<head>
		<title>Request Example</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='weather_style.css') }}">
	</head>
	<body>
		<header>
            <nav>
                <span class="logo"> Evelyn Le </span>
	                <ul>
	                    <li><a href="https://evelynle.com/index.html">Home</a></li>
	                    <li><a href="https://evelynle.com/index.html#about">About</a></li>
	                    <li class="dropdown" id="projects">
	                        <a href="https://evelynle.com/#portfolio">Portfolio</a> 
	                        <ul class="dropdown-menu" id="projects-menu">
	                            <li><a href="https://evelynle.com/#portfolio">Games</a></li>
	                            <li><a href="https://evelynle.com/#portfolio">Apps</a></li>                            
	                            <li><a>Data Visualization</a></li>
	                        </ul>
	                    </li>
	                    <li><a href="https://evelynle.com/index.html#contact">Contact</a></li>
	                </ul> 
            </nav>
        </header>

        <h1>Weather App</h1>

        <!--Game-->
        <p>I use the Python framework Flask to build a weather app that interacts with the API at <a href="https://openweathermap.org/">Open Weather Map</a>. 
        This app provides the temperatures (F) in all cities in the US.            
        <br>
        <br>Just enter the city name and check out what the weather is like in that city! You can see the code <a href="https://github.com/EvelynLe1024/EvelynLe1024.github.io/blob/master/WebScraping/newegg_scraping.py" target="_blank">here</a>.
        </p> 
    
		<form method="POST" action="/temperature">
			City Name : <input type="text" name="city_name">
			<input type="submit">
		</form>

	</body>
	<footer>
            <span>&copy; 2019 Evelyn Le's Blog</span>
    </footer>
</html>