/*Styling the navigation bar and drop-down menu */
nav {
    display: flex;
    justify-content: space-around;
  }

   nav ul {
     margin: 0em;
     padding: 0em;
     list-style: none;        
   }

   nav ul li {     
     width: 6em;
     height: 2.5em;
     text-align: center;
     line-height: 2em;
     float: left;

   }

   nav ul li ul li {
     display: none;
   }

   nav ul li:hover ul li {
    display: block;
  }

   nav ul li a:hover {
     background: #F0FFF0;

   }
   

   nav ul li ul li a:hover {
    background: #F0FFF0;
   }

   nav ul li a {
     text-decoration: none;
     display: block;
     color: black;   
   }


   .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background: url("keyboard.jpg") center center no-repeat;
    background-size: cover;
    color: #ffb78c;
   
  }
  
 
  
  h1 {
    text-align: center;
    padding: 0.5em;
    font-size: 3.5em;
    color: #ffb78c;
    border-top: 2px solid #ffb78c;
    border-bottom: 2px solid #ffb78c;
}

   .logo {
    color: #ffb78c;
    font-size: 1.25em;
  }

   body {
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
    margin-left: 2em;
    margin-right: 2em; 
    color: black;
    font-size: 18px;
} 

h2 {
  font-size: 2em;
  color: salmon;  
}

h3 {
  font-size: 1.5em;
  color: salmon;  
}

footer {
  padding: 1em;
  /* border-top: 1px solid #999999; */
  font-size: 1.125rem;
  color: #999999;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (min-resolution: 300dpi) {
  /* CSS for high resolution screens */
}

